#job-view-container{
    margin-top: 100px;
}

#job-view-container h1{
    margin-bottom: 30px;
}
#img-container{
    margin-top: 20px;
    margin-bottom: 30px;
}

#img-container img{
    width: 100px;
    border-radius: 50%;
    border: 1px solid #212529;
}

.job-desc{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.bold{
    font-weight: bold;
}

.main-color{
    color: #3eacf0;
}
.back-link{
    border: 1px solid #3eacf0;
    padding: 5px 10px;
    transition: .5s;
}
.back-link:hover{
    background-color: #3eacf0;
    color: #fff;
    text-decoration: none;
}